/* FONTS */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/Roboto.ttf);
}

/* END FONT */

/* COMPONENTS */
.article img.th {
	background-color: black
}
.article img.th:hover {
	opacity: 1;
}
.panel p.clearing-caption {
	color: white;
}
.panel.article{
	background: none;
	background-color: rgba(195,195,195,0.4);
	margin-bottom: 0;
}
#firstPage {
	background: url(../images/header.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
#secondPage {
	background: url(../images/page1.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
#thirdPage {
	background: url(../images/page2.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

.background {
	height: 100vh;
}
.verticalAlign {
	margin-top: 30vh;
}
.articleAlign {
	margin-top: 6vh;
}
h1.subheader.text-center.title {
	font-size: 5em;
	font-family: 'Roboto', sans-serif;
	color: white;
}
h1.subheader.text-center, h1.subheader.text-left {
	margin: 3vh auto 5vh auto;
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
	color: white;
}
h1.subheader.text-center strong {
	color: rgb(65,65,65);
}
h3.subheader.text-center {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	color: white;
}
.arrowContainer {
	position: absolute;
	margin-top: 15vh;
	width: 100%;
	text-align: center;
	padding: 1em;
}
a.button.radius.arrowLink {
	background-color: transparent;
	border: 1px solid white;
	transition: 0.8s;
}
a.button.radius.arrowLink:hover {
	background-color: rgb(195,195,195);
}
i.fa.fa-arrow-down.fa-2x {
	color: white;
}
.circular {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	margin: 0 auto 5vh auto;
	-webkit-box-shadow: 4px 4px 8px grey;
	-moz-box-shadow: 4px 4px 8px grey;
	box-shadow: 4px 4px 8px grey;
}
.circular.noe {
	background: url(../images/Profils/noe.jpg) no-repeat center center;
	background-size: 150%;
}
.circular.christian {
	background: url(../images/Profils/christian.jpg) no-repeat center center;
	background-size: 150%;
}
/* END COMPONENTS */